/************************************ GLOBAL RULES *****************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


:root {
    --color-main: #f0e021;
    --color-sec: #a26242;
    --compl-color:  #7f390b;
    --wood-light:  #c19a6b;
    --text-color: #fcf3e9;
    --light-color: #c8c2b7;
    --font-h1: 3.3rem;
    --font-h2: 1.8rem;
    --font-h3: 1.3rem;
    --font-dc: 1rem;
    --font-sm: 0.9rem;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 6rem 1rem;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section-header__title {
    font-size: var(--font-h2);
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.1rem;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.section-header__desc {
    width: 70%;
    font-size: var(--font-dc);
    letter-spacing: 0.1rem;
    text-align: center;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.firm__title {
    color: var(--color-main);
    font-weight: 800;
    font-family: "Poppins";
    text-transform: uppercase;
    text-align: justify;
}

.firm__under {
    display: block;
    font-family: "Open Sans";
    font-weight: 400;
}

.firm__slogan-container {
    color: #eee;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 1.6em;
}

.button {
    padding: 0.5rem 3rem;
    font-size: var(--font-dc);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid #0006;
    box-shadow: 0 0 0.5rem #0006;
}

/************************************ HEADER RULES *****************************************/
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    width: 100dvw;
    background-color: var(--color-sec);
    box-shadow: 0 0 0.5rem #0006;
    z-index: 10;
    animation: fade-in-top 1s ease 2.5s both;
}

.header-firm {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-firm__logo {
    width: 1.2rem;
}

.header-firm__title {
    display: none;
    color: #fff;
    font-size: var(--font-sm);
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.header-nav {
    width: 60%;
}

.header-nav__list {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;
    height: 100%;
}

.header-nav__item {
    display: flex;
    align-items: stretch;
}

.header-nav__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-nav__img {
    width: 1.1rem;
    height: 1.1rem;
}

.header-firm__logo .light {
    fill: #fff;
}

.header-nav__text {
    display: none;
    color: #fff;
    font-size: var(--font-sm);
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/************************************ HERO RULES *****************************************/
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem 1.5rem;
    padding-top: 8rem;
    height: 100vh;
    background-image: linear-gradient(#111, #0009, #0003), url("../assets/imgs/background-hero.webp");
    background-position: center;
    background-size: cover;
    overflow: clip;
}

.hero-firm {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-firm__logo {
    width: 6rem;
    animation: fade-in-left 1s ease .5s both;
}

.hero-firm__title {
    width: 10rem;
    font-size: var(--font-h1);
    letter-spacing: 0.25rem;
    animation: fade-in-right 1s ease .5s both;
}

.hero-firm__title-under {
    font-size: var(--font-h2);
    letter-spacing: 0.1rem;
}

.hero-slogan__container {
    font-size: var(--font-h3);
    animation: fade-in-bottom 1s ease 1.5s both;
}

.hero-slogan__1st {
    text-align: center;
}

.hero-slogan__2nd {
    display: block;
    text-align: center;
}

.hero__button {
    margin: 4rem 0;
    color: #111;
    background-color: var(--color-main);
    transition: transform 0.3s;
    animation: fade-in-bottom 1s ease 2.5s both;
}

.hero__button:hover {
    transform: translateY(5px);
}

.hero-nav {
    display: flex;
    justify-content: space-evenly;
    width: min(100%, 30rem);
    list-style: none;
    animation: fade-in-bottom 1s ease 2.5s both;
}

.hero-nav__link {
    transition: transform 0.2s;
}

.hero-nav__link:hover {
    transform: scale(1.2);
}

.hero-nav__img {
    width: 1.2rem;
}

/************************************ SERVICES RULES *****************************************/
.services {
    background: var(--text-color);
    color: var(--compl-color);
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 50rem;
    list-style: none;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.services-list__item {
    flex: 1 0 min(18rem, 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    aspect-ratio: 1;
    background: linear-gradient(to left, var(--wood-light) 50%, var(--color-sec));
    border-radius: 1rem;
    border: 1px solid #0006;
    box-shadow: 0 0 1rem #0006;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.services-list__item:nth-child(even) {
    flex-direction: row-reverse;
    background: linear-gradient(to right, var(--wood-light) 60%, var(--color-sec));
}

.services-list__img {
    height: 6rem;
    width: 6rem;
}

.services-list__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
}

.services-list__head {
    color: var(--compl-color);
    font-size: var(--font-h3);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.18rem;
    word-wrap: break-word;
}

.services-list__head::first-letter {
    color: var(--color-main);
    font-size: var(--font-h2);
}

.services-list__desc {
    color: var(--compl-color);
    font-size: var(--font-sm);
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1rem;
}

/************************************ PROJECTS RULES *****************************************/
.projects {
    background-color: var(--light-color);
    color: var(--compl-color);
}

.projects-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    list-style: none;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.projects-list__item {
    flex: 1 0 min(30rem, 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem;
    height: 20rem;
    max-width: 30rem;
    background: linear-gradient(to bottom, #0008 50%, #111), url("../assets/imgs/bathroom.webp");
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #0006;
    transition: transform 0.3s, background 0.3s;
}

.projects-list__item:hover {
    transform: scale(1.1);
    background: linear-gradient(to bottom, #0005 70%, #111), url("../assets/imgs/bathroom.webp");
    background-position: center;
    background-size: cover;
}

.projects-list__item:hover .projects-list-sublist {
    opacity: 0;
    transform: translateY(5rem);
}

.projects-list__item:hover  .projects-list__title {
    transform: translateY(5rem);
}

.projects-list__title {
    padding: 0.7rem 1rem;
    color: var(--color-main);
    font-size: var(--font-h3);
    font-weight: 600;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid var(--color-main);
    transition: transform 0.3s;
}

.projects-list-sublist {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    transition: opacity .3s, transform .3s;
}

.projects-list-sublist__item::marker {
    color: var(--color-main);
}

.projects-list-sublist__item {
    color: #eee;
    font-size: var(--font-sm);
    font-weight: 400;
    letter-spacing: 0.1rem;
}

/************************************ steps RULES *****************************************/
.steps {
    color: #fff;
    background-color: var(--color-sec);
}

.steps-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 35rem;
    list-style: none;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.steps-list__item {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    gap: 1.5rem;
    width: min(90%, 24rem);
    height: 8rem;
    background: linear-gradient(to right, #7f390bbb, transparent 90%);
    border-radius: 4rem;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.steps-list__item:nth-child(even) {
    align-self: flex-end;
}

.steps-list__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6rem;
    min-height: 6rem;
    background-color: var(--wood-light);
    border-radius: 50%;
}

.steps-list__img {
    max-width: 50%;
}

.steps-list__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width:90%;
}

.steps-list__title {
    color: var(--color-main);
    font-size: var(--font-h3);
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.steps-list__desc {
    color: var(--text-color);
    font-weight: 400;
    font-size: var(--font-dc);
    letter-spacing: 0.05rem;
}

/************************************ CONTACT RULES *****************************************/
.contact {
    color: var(--compl-color);
    background-color: var(--text-color);
}

.contact-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 40rem;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.contact-list__item {
    flex: 1 0 min(16rem, 100%);
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background: linear-gradient(to right, var(--color-sec), var(--wood-light) 50%);
    border-radius: 1rem;
    box-shadow: 0 0 1rem #0006;
    transition: box-shadow 0.3s, transform .3s;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.contact-list__item:hover {
    box-shadow: 0 0 1.5rem #000a;
    transform: translateY(5px);
}

.contact-list__img {
    width: 3rem;
    height: 3rem;
}

.contact-list__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
}

.contact-list__head {
    color: #fff;
    font-size: var(--font-dc);
    letter-spacing: 0.3rem;
}

.contact-list__link {
    color: var(--text-color);
    font-size: var(--font-sm);
    letter-spacing: 0.1rem;
    word-wrap: break-word;
}

/************************************ CTA RULES *****************************************/
.cta {
    color: var(--compl-color);
    background-color: var(--light-color);
}

.cta-form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.5rem;
    padding: 0 1rem;
    width: 100%;
    max-width: 35rem;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.cta-form__label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--compl-color);
    font-size: var(--font-sm);
    font-weight: 600;
    letter-spacing: 0.1rem;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.cta-form__input {
    padding: 0.7rem;
    width: 100%;
    color: var(--compl-color);
    font-size: var(--font-dc);
    font-family: inherit;
    letter-spacing: 0.05rem;
    background-color: var(--text-color);
    border: 1px solid var(--wood-light);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.3rem var(--wood-light);
    transition: border 0.2s, box-shadow 0.3s, background-color 0.3s;
}

.cta-form__input::placeholder {
    color: var(--wood-light);
}

.cta-form__input:focus-visible {
    background-color: var(--text-color);
    border: 1px solid var(--compl-color);
    box-shadow: inset 0 0 0.3rem var(--wood-light);
    outline: none;
}

.cta-form__input:focus-visible::placeholder {
    opacity: 0.5;
    transform: translateX(20px);
}

.cta-form__input:invalid:not(:placeholder-shown) {
    border: 1px solid #c00;
    box-shadow: inset 0 0 0.3rem #c00;
    color: #c00;
}

.cta-form__label:has(.cta-form__input:invalid:not(:placeholder-shown)) {
    color: #c00;
}

.cta-form__input > option {
    background-color: var(--text-color);
}

.cta-form__text textarea {
    resize: none;
}

.cta-form__check {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
    margin: 2rem 0;
    color: var(--compl-color) !important;
    font-size: var(--font-dc);
    font-weight: 500;
}

.cta-form__check-slider {
    position: relative;
    display: inline-block;
    min-width: 2.5rem;
    height: 1.5rem;
    background-color: #888;
    border-radius: 1.5rem;
    transition: background-color 0.3s;
}

.cta-form__check-slider:before {
    content: "";
    position: absolute;
    min-height: 1rem;
    min-width: 1rem;
    left: 0.25rem;
    top: 0.25rem;
    background-color: #eee;
    border-radius: 50%;
    transition: transform .4s;
}

.cta-form__input[type='checkbox']:checked + .cta-form__check-slider {
    background-color: var(--color-sec);
}

.cta-form__input[type='checkbox']:checked + .cta-form__check-slider:before {
    transform: translateX(1rem);
}

.cta-form__check .cta-form__input {
    display: none;
}

.cta-form__button {
    margin: auto;
    color: #fff;
    background-color: var(--color-sec);
    transition: box-shadow .3s, transform .3s;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.cta-form__button:hover {
    box-shadow: 0 0 1rem #1118;
    transform: translateY(-5px);
}

/************************************ FOOTER RULES *****************************************/
.footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 6rem;
    background: var(--color-sec);
    color: #fff;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 4rem 1.5rem;
}

.footer-info__part {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-info__list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: none;
}

.footer-info__list-title {
    margin: auto;
    padding: 0.5rem 1.4rem;
    color: var(--color-main);
    font-size: var(--font-dc);
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid var(--color-main);
}

.footer-info__list-link {
    display: block;
    padding: 0.5rem 0;
    color: var(--text-color);
    font-size: var(--font-sm);
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 0.5rem var(--compl-color);
}

.footer-info__firm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.footer-firm__title {
    width: 8rem;
    font-size: var(--font-h2);
    letter-spacing: 0.4rem;
}

.footer-firm__title-under {
    font-size: var(--font-h3);
    letter-spacing: 0.05rem;
}

.footer-info__slogan-container {
    font-size: var(--font-dc);
    text-shadow: 0 0 0.5rem var(--compl-color);
}

.footer-firm__head {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.footer-firm__logo {
    width: 4rem;
}

.footer-rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer-rights__copyrights {
    font-size: var(--font-sm);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 0.5rem var(--compl-color);
}

.footer-rights__credits {
    font-size: var(--font-sm);
    letter-spacing: 0.05rem;
    text-shadow: 0 0 0.5rem var(--compl-color);
}

.footer-rights__credits a {
    color: var(--text-color);
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: 0.1rem;
}

/************************************ FOOTER RULES *****************************************/
@media screen and (min-width: 400px) {
    .services-list__item {
        aspect-ratio: 2;
    }
}

@media screen and (min-width: 600px) {
    .services-list__img {
        height: 6rem;
    }

    .cta-form__text {
        grid-column: span 2;
    }

    .cta-form__check {
        grid-column: span 2;
    }

    .cta-form__button {
        grid-column: span 2;
    }

    .footer-info__firm {
        grid-column: span 2;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --font-h1: 3.7rem;
        --font-h2: 2.2rem;
        --font-h3: 1.6rem;
        --font-dc: 1rem;
        --font: 0.8rem;
        font-size: 17px;
    }

    .header-nav__img {
        display: none;
    }

    .header-nav__text {
        display: block;
    }

    .hero {
        height: fit-content;
    }

    .footer-info__firm {
        grid-column: span 1;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --font-h1: 3.5rem;
        --font-h2: 2.4rem;
        --font-h3: 1.6rem;
        --font-dc: 1rem;
        --font: 0.9rem;
        font-size: 16px;
    }

    .header {
        padding: 0.5rem 3rem;
    }

    .header-firm__logo {
        width: 1rem;
    }

    .header-firm__title {
        display: block;
    }

    .header-nav__text {
        letter-spacing: 0.2rem;
    }

    .hero {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 10rem 8rem;
    }

    .hero-firm {
        margin: auto;
    }

    .hero-slogan__container {
        margin: auto;
        text-align: left;
    }

    .hero__button {
        margin: auto;
        width: 60%;
    }

    .hero-nav {
        grid-row: span 3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        margin: auto;
    }

    .services-list__head {
        word-wrap: initial;
    }

    .steps-list {
        width: 70%;
    }

    .footer-info {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

    .footer-info__firm {
        grid-column: span 1;
    }
}

@media screen and (min-width:1024px) and (min-height: 1000px) {
    :root {
        --font-h1: 3.7rem;
        --font-h2: 2.2rem;
        --font-h3: 1.6rem;
        --font-dc: 1rem;
        --font: 0.8rem;
        font-size: 17px;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --font-h1: 3.5rem;
        --font-h2: 2.4rem;
        --font-h3: 1.6rem;
        --font-dc: 1rem;
        --font: 0.9rem;
        font-size: 16px;
    }
}

@media screen and (min-width: 1600px) {
    :root {
        font-size: 20px;
    }
}

/************************************ ANIMATION RULES *****************************************/
@keyframes fade-in-right {
    from {
        transform: translateX(10rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    from {
        transform: translateX(-10rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    from {
        transform: translateY(-10rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    from {
        transform: translateY(10rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}