/************************************ FONTS RULES *****************************************/
@font-face {
    font-family: Rajdhani;
    src: url("/fonts/Rajdhani-Bold.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

/************************************ GLOBAL RULES *****************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
    font-family: OpenSans;
    --color-main: #f0e021;
    --color-sec: #ad6a4b;
    --compl-color:  #7f390b;
    --wood-light:  #c19a6b;
    --text-color: #fcf3e9;
    --light-color: #c8c2b7;
}

main {
    background-image: linear-gradient(#111, #0009, #0003), url("/imgs/backgrounds/background-hero.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 6rem 2rem;
}

.section-header {
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.1rem;
}

.section-description {
    padding-bottom: 3rem;
    width: 70%;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

/************************************ HEADER RULES *****************************************/
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem  0.8rem 1rem;
    width: 100vw;
    background-color: var(--color-sec);
    box-shadow: 0 0 0.5rem #444;
    z-index: 10;
}

.header__firm-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__firm-logo {
    width: 1.4rem;
}

.header__firm-title {
    display: none;
    color: #eee;
    font-size: 1rem;
    font-family: Rajdhani;
    letter-spacing: 0.2rem;
}

.header__nav {
    width: 60%;
}

.header__nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
}

.header__nav-item {
    display: flex;
    align-items: stretch;
}

.header__nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__nav-link-img {
    width: 1.2rem;
    height: 1.2rem;
}

.header__firm-logo .light {
    fill: #eee;
}

.header__nav-link-text {
    display: none;
    color: #eee;
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/************************************ HERO RULES *****************************************/
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    padding-top: 8rem;
    min-height: 80vh;
}

.hero__firm-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero__firm-logo {
    width: 7rem;
}

.hero__firm-title {
    width: 10rem;
    color: var(--color-main);
    font-size: 4.5rem;
    font-weight: 800;
    font-family: Rajdhani;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 0.1rem;
}

.hero__firm-title-under {
    display: block;
    font-size: 2rem;
    font-family: OpenSans;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.hero__slogan-container {
    color: #eee;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 0.2rem;
}

.hero__slogan-1st {
    font-size: 1.5rem;
    font-weight: 500;
}

.hero__slogan-2nd {
    font-size: 1.5rem;
    font-weight: 800;
}

.hero__button {
    margin: 3rem 0;
    padding: 0.8rem 3rem;
    color: #111;
    font: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: var(--color-main);
    border-radius: 0.5rem;
    border: 1px solid #111;
    box-shadow: 0 0 1rem #080808;
    transition: transform 0.3s;
}

.hero__button:hover {
    transform: translateY(5px);
}

.hero__nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
    list-style: none;
}

.hero__nav-link img {
    width: 1.2rem;
    
}

.hero__nav-link {
    transition: filter 0.2s;
}

.hero__nav-link:hover {
    filter: drop-shadow(0 0 1rem #fff);
}

/************************************ SERVICES RULES *****************************************/
.services {
    background: linear-gradient(transparent, var(--text-color) 10%);
    color: var(--compl-color);
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    list-style: none;
}

.services__item {
    flex-basis: 18rem;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    height: 12rem;
    background: linear-gradient(to left, var(--wood-light) 50%, var(--color-sec));
    border-radius: 1rem;
    box-shadow: 0 0 1rem #888;
}

.services__item:nth-child(even) {
    flex-direction: row-reverse;
    background: linear-gradient(to right, var(--wood-light) 60%, var(--color-sec));
}

.services__item-img {
    height: 6rem;
    width: 6rem;
}

.services__item-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
}

.services__item-text-head {
    color: var(--text-color);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.15rem;
}

.services__item-text-desc {
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05rem;
}

/************************************ PROJECTS RULES *****************************************/
.projects {
    background-color: var(--light-color);
    color: var(--compl-color);
}

.projects__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    list-style: none;
}

.projects__item {
    flex-basis: 30rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem;
    height: 22rem;
    max-width: 40rem;
    background: linear-gradient(to bottom, #0008 50%, var(--compl-color)), url("/imgs/backgrounds/bathroom.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #1118;
    transition: transform 0.3s, background 0.3s;
}

.projects__item:hover {
    transform: scale(1.1);
    background: linear-gradient(to bottom, #0005 70%, var(--compl-color)), url("/imgs/backgrounds/bathroom.jpg");
    background-position: center;
    background-size: cover;
}

.projects__item:hover .projects__item-list {
    opacity: 0;
    transform: translateY(5rem);
}

.projects__item:hover  .projects__item-text {
    transform: translateY(5rem);
}

.projects__item-text {
    padding: 1rem 1rem;
    color: var(--color-main);
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid var(--color-main);
    transition: transform 0.3s;
}

.projects__item-list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    list-style: square;
    transition: opacity .3s, transform .3s;
}

.projects__item-item {
    color: #ddd;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

/************************************ PROCESS RULES *****************************************/
.process {
    color: #eee;
    background-color: var(--color-sec);
}

.process__list-step {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 40rem;
    list-style: none;
}

.process__step {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 90%;
    height: 7rem;
    max-width: 40rem;
    background: linear-gradient(to right, #7f390bbb, transparent 70%);
    border-radius: 4rem;
}

.process__step:nth-child(even) {
    align-self: flex-end;
}

.process__step-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background-color: var(--wood-light);
    border-radius: 3.5rem;
}

.process__step-img {
    width: 3.5rem;
}

.process__step-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
}

.process__step-text-head {
    color: var(--color-main);
    font-weight: 700;
}

.process__step-text-desc {
    color: var(--text-color);
    font-weight: 400;
    font-size: 0.8rem;
}

/************************************ CONTACT RULES *****************************************/
.contact {
    color: var(--compl-color);
    background-color: var(--text-color);
}

.contact__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 50rem;
}

.contact__item {
    flex-basis: 14rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background: linear-gradient(to right, var(--color-sec), var(--wood-light) 50%);
    border-radius: 1rem;
    box-shadow: 0 0 1rem #888;
    transition: box-shadow 0.3s, transform .3s;
}

.contact__item:hover {
    box-shadow: 0 0 1.5rem #444;
    transform: translateY(5px);
}

.contact__item-img {
    width: 3rem;
    height: 3rem;
}

.contact__item-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
}

.contact__item-head {
    color: #eee;
    font-size: 1rem;
    letter-spacing: 0.3rem;
}

.contact__item-link {
    color: var(--text-color);
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

/************************************ CTA RULES *****************************************/
.cta {
    color: var(--compl-color);
    background-color: var(--light-color);
}

.cta__form{
    display: grid;
    grid-template-areas: "NA NA""TE TE""EM EM""TY TY""TX TX""CH CH""BU BU";
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 1rem;
}

.cta__label {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.3rem;
    color: var(--compl-color);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.cta__input {
    padding: 1rem;
    width: 100%;
    color: #333;
    font-size: 1rem;
    font-family: OpenSans;
    letter-spacing: 0.05rem;
    background-color: #f5f5f5;
    border: 1px solid #aaa;
    border-radius: 0.9rem;
    box-shadow: inset 0 0 0.3rem #bbb;
    transition: all 0.5s;
}

.cta__input:focus {
    background-color: var(--text-color);
    border: 1px solid var(--color-sec);
    box-shadow: inset 0 0 0.3rem var(--wood-light);
}

.cta__input:focus::placeholder {
    opacity: 0.5;
    transform: translateX(20px);
}

.cta__input:invalid:not(:placeholder-shown) {
    border: 1px solid #e63946;
    box-shadow: inset 0 0 0.3rem #e63946;
    color: #e63946;
}

.cta__input > option {
    background-color: var(--text-color);
}

.cta__name {
    grid-area: NA;
}

.cta__tel {
    grid-area: TE;
}

.cta__email {
    grid-area: EM;
}

.cta__type {
    grid-area: TY;
}

.cta__text {
    grid-area: TX;
}

.cta__text textarea {
    height: 10rem;
}

.cta__check {
    grid-area: CH;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    margin: auto;
    margin-top: 2rem;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
}

.cta__check-slider {
    position: relative;
    display: inline-block;
    min-width: 2.5rem;
    min-height: 1.5rem;
    background-color: #888;
    border-radius: 1.5rem;
    transition: 0.3s;
}

.cta__check-slider:before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: #eee;
    border-radius: 50%;
    transition: .4s;
}

.cta__check input:checked + .cta__check-slider {
    background-color: var(--color-sec);
}

.cta__check input:checked + .cta__check-slider:before {
    transform: translateX(1rem);
}

.cta__check .cta__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.cta__button {
    grid-area: BU;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    width: 70%;
    max-width: 30rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    background-color: var(--color-sec);
    border-radius: 0.8rem;
    border: 1px solid #1115;
    box-shadow: 0 0 0.5rem #1118;
    transition: box-shadow .3s, transform .3s;
}

.cta__button:hover {
    box-shadow: 0 0 1rem #1118;
    transform: translateY(-5px);
}

/************************************ FOOTER RULES *****************************************/
.footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background: var(--color-sec);
    color: var(--text-color);
}

.footer__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 1.5rem;
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.footer__list:first-child {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.footer__list-title {
    padding: 0.5rem 1.5rem;
    color: var(--color-main);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid var(--color-main);
}

.footer__list-link {
    display: block;
    color: var(--text-color);
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.2rem;
}

.footer__firm {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer__firm-head {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.footer__firm-logo {
    width: 4rem;
}

.footer__firm-title {
    width: 8rem;
    color: var(--color-main);
    font-size: 3rem;
    font-weight: 800;
    font-family: Rajdhani;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 0.1rem;
}

.footer__firm-title-under {
    display: block;
    font-size: 1.3rem;
    font-family: OpenSans;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.footer__slogan-container {
    color: #eee;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 0.2rem;
}

.footer__slogan-1st {
    font-size: 1rem;
    font-weight: 500;
}

.footer__slogan-2nd {
    font-size: 1rem;
    font-weight: 800;
}

.footer__rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer__copyrights {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.footer__credits {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}

.footer__credits a {
    color: var(--text-color);
}

/************************************ FOOTER RULES *****************************************/
@media screen and (min-width: 600px) {
    html {
        font-size: 18px;
    }

    .services__item-img {
        height: 6rem;
    }
}

@media screen and (min-width: 768px) {
    .header__nav-link-img {
        display: none;
    }

    .header__nav-link-text {
        display: block;
    }

    .hero {
        min-height: fit-content;
    }

    .cta__form {
        grid-template-areas: "NA TE""EM TY""TX TX""CH CH""BU BU";
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 18px;
    }

    .header {
        padding: 0.5rem;
    }

    .header__firm-logo {
        width: 1rem;
    }

    .header__firm-title {
        display: block;
    }

    .header__nav-link-text {
        font-size: 0.5rem;
        letter-spacing: 0.2rem;
    }

    .hero {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 4rem 8rem;
        padding-top: 8rem;
    }

    .hero__firm-container {
        margin: auto;
    }

    .hero__slogan-container {
        margin: auto;
        text-align: left;
    }

    .hero__button {
        margin: auto;
        width: 60%;
    }

    .hero__nav {
        grid-row: span 3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        margin: auto;
    }

    .process__step {
        width: 70%;
    }

    .footer__info {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

    .footer__firm {
        grid-column: span 1;
    }
}

@media screen and (min-width:1024px) and (min-height: 1000px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 20px;
    }
}